In [94]:
#Import Required Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import sklearn
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity


import warnings
warnings.filterwarnings('ignore')

In [95]:
#Import Data

books=pd.read_csv('Booksss.csv')
ratings=pd.read_csv("Book-Ratings.csv" ,  encoding = 'latin-1' , error_bad_lines = False , sep = ";")
users=pd.read_csv('Usersss.csv')

In [96]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [97]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [98]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [99]:
print("Shape of the Books : ",books.shape)
print("Shape of the Ratings : ",ratings.shape)
print("Shape of the Users : ",users.shape)

Shape of the Books :  (271360, 8)
Shape of the Ratings :  (1149780, 3)
Shape of the Users :  (278858, 3)

In [100]:
print("Data Type for Books :\n",books.dtypes)
print("\nData Type for Ratings :\n",ratings.dtypes)
print("\nData Type for Users :\n",users.dtypes)

Data Type for Books :
 ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

Data Type for Ratings :
 User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

Data Type for Users :
 User-ID       int64
Location     object
Age         float64
dtype: object

In [101]:
books[books.duplicated()]

Empty DataFrame
Columns: [ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher, Image-URL-S, Image-URL-M, Image-URL-L]
Index: []

In [102]:
ratings[ratings.duplicated()]

Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating]
Index: []

In [103]:
users[users.duplicated()]

Empty DataFrame
Columns: [User-ID, Location, Age]
Index: []

In [104]:
#Merging datasets users and ratings based on 'Used-ID'
user_rating=pd.merge(users,ratings,on='User-ID')
user_rating.head()

   User-ID                   Location   Age        ISBN  Book-Rating
0        2  stockton, california, usa  18.0  0195153448            0
1        7        washington, dc, usa   NaN   034542252            0
2        8   timmins, ontario, canada   NaN  0002005018            5
3        8   timmins, ontario, canada   NaN  0060973129            0
4        8   timmins, ontario, canada   NaN  0374157065            0

In [105]:
#Merging datasets user_rating and books based on 'ISBN'
user_book_rating=pd.merge(user_rating,books,on='ISBN')
user_book_rating.head()

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,2,"stockton, california, usa",18.0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,8,"timmins, ontario, canada",NaN,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,11400,"ottawa, ontario, canada",49.0,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
3,11676,"n/a, n/a, n/a",NaN,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
4,41385,"sudbury, ontario, canada",NaN,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [106]:
user_book_rating.shape

(1031136, 12)

In [107]:
user_book_rating.isna().sum().sort_values(ascending=True)

User-ID                     0
Location                    0
ISBN                        0
Book-Rating                 0
Book-Title                  0
Year-Of-Publication         0
Image-URL-S                 0
Image-URL-M                 0
Book-Author                 1
Publisher                   2
Image-URL-L                 4
Age                    277835
dtype: int64

In [108]:
user_book_rating.isna().sum().sort_values(ascending=True)/len(ratings)*100

User-ID                 0.000000
Location                0.000000
ISBN                    0.000000
Book-Rating             0.000000
Book-Title              0.000000
Year-Of-Publication     0.000000
Image-URL-S             0.000000
Image-URL-M             0.000000
Book-Author             0.000087
Publisher               0.000174
Image-URL-L             0.000348
Age                    24.164188
dtype: float64

In [109]:
user_book_rating.dtypes

User-ID                  int64
Location                object
Age                    float64
ISBN                    object
Book-Rating              int64
Book-Title              object
Book-Author             object
Year-Of-Publication     object
Publisher               object
Image-URL-S             object
Image-URL-M             object
Image-URL-L             object
dtype: object

In [110]:
user_book_rating[user_book_rating.duplicated()]

Empty DataFrame
Columns: [User-ID, Location, Age, ISBN, Book-Rating, Book-Title, Book-Author, Year-Of-Publication, Publisher, Image-URL-S, Image-URL-M, Image-URL-L]
Index: []

In [111]:
user_book_rating.describe().round(2)

          User-ID       Age  Book-Rating
count  1031136.00  753301.0   1031136.00
mean    140594.50      37.4         2.84
std      80524.66      14.1         3.85
min          2.00       0.0         0.00
25%      70415.00      28.0         0.00
50%     141210.00      35.0         0.00
75%     211426.00      45.0         7.00
max     278854.00     244.0        10.00

### Data Cleaning/Preparation

In [112]:
#Replace hyphen with underscore

user_book_rating=user_book_rating.rename(columns = {'User-ID':'User_ID','Book-Rating':'Book_Rating','Book-Title':'Book_Title',
                                  'Book-Author':'Book_Author','Year-Of-Publication':'Year_Of_Publication',
                                  'Image-URL-S':'Image_URL_S', 'Image-URL-M':'Image_URL_M','Image-URL-L':'Image_URL_L'})
user_book_rating.head(2)

,User_ID,Location,Age,ISBN,Book_Rating,Book_Title,Book_Author,Year_Of_Publication,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
0,2,"stockton, california, usa",18.0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,8,"timmins, ontario, canada",NaN,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

#### Handling feature 'Book Author'

In [113]:
user_book_rating[user_book_rating['Book_Author'].isnull()]

,User_ID,Location,Age,ISBN,Book_Rating,Book_Title,Book_Author,Year_Of_Publication,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
857604,98647,"selayang, selangor, malaysia",26.0,9627982032,8,The Credit Suisse Guide to Managing Your Perso...,NaN,1995,Edinburgh Financial Publishing,http://images.amazon.com/images/P/9627982032.0...,http://images.amazon.com/images/P/9627982032.0...,http://images.amazon.com/images/P/9627982032.0...

In [114]:
index_nan_book_author=user_book_rating[user_book_rating['Book_Author'].isnull()].index[0]

In [115]:
user_book_rating.drop(index=index_nan_book_author,axis=0,inplace=True)

#### Handling feature 'Publisher'

In [116]:
user_book_rating[user_book_rating['Publisher'].isnull()]

,User_ID,Location,Age,ISBN,Book_Rating,Book_Title,Book_Author,Year_Of_Publication,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
857163,98391,"morrow, georgia, usa",52.0,193169656X,9,Tyrant Moon,Elaine Corvidae,2002,NaN,http://images.amazon.com/images/P/193169656X.0...,http://images.amazon.com/images/P/193169656X.0...,http://images.amazon.com/images/P/193169656X.0...
857174,98391,"morrow, georgia, usa",52.0,1931696993,9,Finders Keepers,Linnea Sinclair,2001,NaN,http://images.amazon.com/images/P/1931696993.0...,http://images.amazon.com/images/P/1931696993.0...,http://images.amazon.com/images/P/1931696993.0...

In [117]:
user_book_rating.loc[(user_book_rating.ISBN == '193169656X'),'Publisher'] = 'NovelBooks'
user_book_rating.loc[(user_book_rating.ISBN == '1931696993'),'Publisher'] = 'CreateSpace Independent Publishing Platform'

In [118]:
user_book_rating[user_book_rating['Publisher'].isnull()]

Empty DataFrame
Columns: [User_ID, Location, Age, ISBN, Book_Rating, Book_Title, Book_Author, Year_Of_Publication, Publisher, Image_URL_S, Image_URL_M, Image_URL_L]
Index: []

#### Handling feature 'Image_URL_L'

In [119]:
user_book_rating[user_book_rating['Image_URL_L'].isnull()]

,User_ID,Location,Age,ISBN,Book_Rating,Book_Title,Book_Author,Year_Of_Publication,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
906829,130571,"summerville, south carolina, usa",NaN,0789466953,0,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,NaN
913994,137190,"rennes, bretagne, france",31.0,2070426769,0,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,NaN
946370,169663,"towson, maryland, usa",NaN,078946697X,0,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,NaN
946371,227771,"savion, n/a, israel",19.0,078946697X,7,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,NaN

In [120]:
new= user_book_rating[user_book_rating["Image_URL_L"].isnull()]
yop=new["Book_Author"].values
p= new["Year_Of_Publication"].values
s=new["Publisher"].values
m=new["Image_URL_S"].values
l=new["Image_URL_M"].values
na=new["Image_URL_L"].values

In [121]:
isbn=user_book_rating[user_book_rating["Image_URL_L"].isnull()]["ISBN"]
isbn.index

Int64Index([906829, 913994, 946370, 946371], dtype='int64')

In [122]:
user_book_rating.loc[isbn.index[0],"Book_Author"]='Buckley Jr., James'
user_book_rating.loc[isbn.index[1],"Book_Author"]='Le Clezio, Jean-Marie Gustave'
user_book_rating.loc[isbn.index[2],"Book_Author"]='Teitelbaum, Michael'
user_book_rating.loc[isbn.index[2],"Book_Author"]='Teitelbaum, Michael'

In [123]:
for i in range (len(isbn)):
    x=user_book_rating.index[user_book_rating["ISBN"]==isbn.values[i]]
    user_book_rating.loc[x,"Year_Of_Publication"]=yop[i]
    user_book_rating.loc[x,"Publisher"]=p[i]
    user_book_rating.loc[x,"Image_URL_S"]=s[i] 
    user_book_rating.loc[x,"Image_URL_M"]=m[i]
    user_book_rating.loc[x,"Image_URL_L"]=l[i]

In [124]:
user_book_rating[user_book_rating['Image_URL_L'].isnull()]

Empty DataFrame
Columns: [User_ID, Location, Age, ISBN, Book_Rating, Book_Title, Book_Author, Year_Of_Publication, Publisher, Image_URL_S, Image_URL_M, Image_URL_L]
Index: []

In [125]:
user_book_rating.isnull().sum()

User_ID                     0
Location                    0
Age                    277835
ISBN                        0
Book_Rating                 0
Book_Title                  0
Book_Author                 0
Year_Of_Publication         0
Publisher                   0
Image_URL_S                 0
Image_URL_M                 0
Image_URL_L                 0
dtype: int64

#### Handling feature - Age

In [126]:
print(sorted(user_book_rating.Age.unique()))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 18.0, nan, 13.0, 14.0, 15.0, 16.0, 17.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 89.0, 90.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 103.0, 104.0, 105.0, 107.0, 108.0, 109.0, 114.0, 116.0, 118.0, 123.0, 124.0, 127.0, 128.0, 132.0, 133.0, 136.0, 138.0, 140.0, 141.0, 146.0, 147.0, 148.0, 151.0, 152.0, 156.0, 157.0, 168.0, 199.0, 200.0, 201.0, 204.0, 209.0, 212.0, 219.0, 220.0, 223.0, 226.0, 228.0, 229.0, 237.0, 239.0, 244.0]

In [127]:
len(user_book_rating.loc[(user_book_rating.Age > 90) | (user_book_rating.Age < 5), 'Age'])

4979

In [128]:
user_book_rating.loc[(user_book_rating.Age > 90) | (user_book_rating.Age < 5), 'Age'] = np.nan

In [129]:
user_book_rating.isnull().sum()

User_ID                     0
Location                    0
Age                    282814
ISBN                        0
Book_Rating                 0
Book_Title                  0
Book_Author                 0
Year_Of_Publication         0
Publisher                   0
Image_URL_S                 0
Image_URL_M                 0
Image_URL_L                 0
dtype: int64

In [130]:
user_book_rating.Age.mode()

0    33.0
Name: Age, dtype: float64

In [131]:
user_book_rating['Age']=user_book_rating['Age'].fillna(user_book_rating.Age.median()).astype('int32')

In [132]:
user_book_rating.isnull().sum()

User_ID                0
Location               0
Age                    0
ISBN                   0
Book_Rating            0
Book_Title             0
Book_Author            0
Year_Of_Publication    0
Publisher              0
Image_URL_S            0
Image_URL_M            0
Image_URL_L            0
dtype: int64

#### Handling feature - Year of Publication

In [133]:
user_book_rating.Year_Of_Publication.dtype

dtype('O')

In [134]:
user_book_rating.Year_Of_Publication=pd.to_numeric(arg=user_book_rating.Year_Of_Publication,errors='coerce')

In [135]:
print(sorted(user_book_rating.Year_Of_Publication.unique()))

[0, 1376, 1378, 1806, 1897, 1900, 1901, 1902, 1904, 1906, 1908, 1909, 1910, 1911, 1914, 1917, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2008, 2010, 2011, 2012, 2020, 2021, 2024, 2026, 2030, 2037, 2038, 2050]

In [136]:
len(user_book_rating.loc[(user_book_rating.Year_Of_Publication > 2006) | (user_book_rating.Year_Of_Publication ==0), 'Year_Of_Publication'])

14089

In [137]:
user_book_rating.loc[(user_book_rating.Year_Of_Publication > 2006) | (user_book_rating.Year_Of_Publication ==0), 'Year_Of_Publication'] = np.nan

In [138]:
user_book_rating.isnull().sum()

User_ID                    0
Location                   0
Age                        0
ISBN                       0
Book_Rating                0
Book_Title                 0
Book_Author                0
Year_Of_Publication    14089
Publisher                  0
Image_URL_S                0
Image_URL_M                0
Image_URL_L                0
dtype: int64

In [139]:
user_book_rating.Year_Of_Publication.mode()

0    2002.0
Name: Year_Of_Publication, dtype: float64

In [140]:
user_book_rating['Year_Of_Publication']=user_book_rating['Year_Of_Publication'].fillna(user_book_rating.Year_Of_Publication.median()).astype('int32')

In [141]:
user_book_rating.isnull().sum()

User_ID                0
Location               0
Age                    0
ISBN                   0
Book_Rating            0
Book_Title             0
Book_Author            0
Year_Of_Publication    0
Publisher              0
Image_URL_S            0
Image_URL_M            0
Image_URL_L            0
dtype: int64

In [142]:
user_book_rating.head()

,User_ID,Location,Age,ISBN,Book_Rating,Book_Title,Book_Author,Year_Of_Publication,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
0,2,"stockton, california, usa",18,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,8,"timmins, ontario, canada",35,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,11400,"ottawa, ontario, canada",49,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
3,11676,"n/a, n/a, n/a",35,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
4,41385,"sudbury, ontario, canada",35,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [143]:
import pandas as pd
user_book_rating['User_ID']=user_book_rating['User_ID'].astype(str)

In [144]:
user_book_rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031135 entries, 0 to 1031135
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   User_ID              1031135 non-null  object
 1   Location             1031135 non-null  object
 2   Age                  1031135 non-null  int32
 3   ISBN                 1031135 non-null  object
 4   Book_Rating          1031135 non-null  int64
 5   Book_Title           1031135 non-null  object
 6   Book_Author          1031135 non-null  object
 7   Year_Of_Publication  1031135 non-null  int32
 8   Publisher            1031135 non-null  object
 9   Image_URL_S          1031135 non-null  object
 10  Image_URL_M          1031135 non-null  object
 11  Image_URL_L          1031135 non-null  object
dtypes: int32(2), int64(1), object(9)
memory usage: 126.7+ MB

In [145]:
user_book_rating.User_ID.nunique()

92106

In [146]:
x=user_book_rating.groupby('User_ID').count()['Book_Rating'] >50
padhe_likh_users=x[x].index
padhe_likh_users

Index(['100088', '100264', '10030', '100459', '100578', '100644', '10067',
       '100782', '100822', '100846',
       ...
       '98930', '99032', '9908', '99227', '99312', '99347', '99441', '99630',
       '99641', '99955'],
      dtype='object', name='User_ID', length=3012)

In [147]:
filter_user=user_book_rating[user_book_rating['User_ID'].isin(padhe_likh_users)]
filter_user

,User_ID,Location,Age,ISBN,Book_Rating,Book_Title,Book_Author,Year_Of_Publication,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
2,11400,"ottawa, ontario, canada",49,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
3,11676,"n/a, n/a, n/a",35,0002005018,8,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
6,85526,"victoria, british columbia, canada",36,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
7,96054,"ottawa, ontario, canada",29,0002005018,0,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
8,116866,"ottawa, ,",35,0002005018,9,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
1031122,278843,"pismo beach, california, usa",28,0373262388,0,Mr Donaghue Investigates (Ulysses Donaghue Mys...,Anna Shone,1997,Worldwide Library,http://images.amazon.com/images/P/0373262388.0...,http://images.amazon.com/images/P/0373262388.0...,http://images.amazon.com/images/P/0373262388.0...
1031123,278843,"pismo beach, california, usa",28,0689818904,7,My Grandmother's Journey,John Cech,1998,Aladdin,http://images.amazon.com/images/P/0689818904.0...,http://images.amazon.com/images/P/0689818904.0...,http://images.amazon.com/images/P/0689818904.0...
1031124,278843,"pismo beach, california, usa",28,0743525493,7,The Motley Fool's What To Do with Your Money N...,David Gardner,2002,Simon &amp; Schuster Audio,http://images.amazon.com/images/P/0743525493.0...,http://images.amazon.com/images/P/0743525493.0...,http://images.amazon.com/images/P/0743525493.0...
1031125,278843,"pismo beach, california, usa",28,1581150601,0,Crafts and Craft Shows: How to Make Money,Phil Kadubec,2000,Watson-Guptill Publications,http://images.amazon.com/images/P/1581150601.0...,http://images.amazon.com/images/P/1581150601.0...,http://images.amazon.com/images/P/1581150601.0...
1031126,278843,"pismo beach, california, usa",28,1874061149,0,The Queen's Gambit,Walter Tevis,1996,Texas Bookman,http://images.amazon.com/images/P/1874061149.0...,http://images.amazon.com/images/P/1874061149.0...,http://images.amazon.com/images/P/1874061149.0...

In [148]:
y=filter_user.groupby('Book_Title').count()['Book_Rating']>=50
famous_book=y[y].index
famous_book

Index(['1984', '1st to Die: A Novel', '2010: Odyssey Two', '204 Rosewood Lane',
       '24 Hours', '2nd Chance', '4 Blondes', '84 Charing Cross Road',
       'A 2nd Helping of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper))',
       'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
       ...
       'Women Who Run with the Wolves',
       'Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players',
       'Writ of Execution', 'Wuthering Heights',
       'Wuthering Heights (Penguin Classics)', 'Year of Wonders',
       'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book_Title', length=1350)

In [149]:
final=filter_user[filter_user['Book_Title'].isin(famous_book)]
final

,User_ID,Location,Age,ISBN,Book_Rating,Book_Title,Book_Author,Year_Of_Publication,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
31,11676,"n/a, n/a, n/a",35,0399135782,9,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
32,29526,"knoxville, tennessee, usa",26,0399135782,9,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
33,36836,"raleigh, north carolina, usa",56,0399135782,0,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
34,46398,"san antonio, texas, usa",37,0399135782,9,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
38,113270,"evanston, illinois, usa",25,0399135782,0,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
1029238,275970,"pittsburgh, pennsylvania, usa",46,0865714215,0,Stormy Weather,Guy Dauncey,2001,New Society Publishers,http://images.amazon.com/images/P/0865714215.0...,http://images.amazon.com/images/P/0865714215.0...,http://images.amazon.com/images/P/0865714215.0...
1029284,275970,"pittsburgh, pennsylvania, usa",46,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...
1029651,277157,"garden grove, california, usa",70,0375727981,5,Saving Faith,DAVID BALDACCI,2000,Random House Large Print,http://images.amazon.com/images/P/0375727981.0...,http://images.amazon.com/images/P/0375727981.0...,http://images.amazon.com/images/P/0375727981.0...
1029855,277639,"forsyth, montana, usa",48,0590313088,0,Hideaway,Beverly H. Renner,1980,Scholastic,http://images.amazon.com/images/P/0590313088.0...,http://images.amazon.com/images/P/0590313088.0...,http://images.amazon.com/images/P/0590313088.0...
1029857,277639,"forsyth, montana, usa",48,0671046349,0,Until You,Judith McNaught,1999,Simon &amp; Schuster Audio,http://images.amazon.com/images/P/0671046349.0...,http://images.amazon.com/images/P/0671046349.0...,http://images.amazon.com/images/P/0671046349.0...

In [171]:
pt_content=final.pivot_table( values='Book_Rating',index='Book_Title',columns='User_ID').fillna(0)
pt_content

User_ID,100088,100264,10030,100459,100578,100644,10067,100782,100822,100846,...,98930,99032,9908,99227,99312,99347,99441,99630,99641,99955
Book_Title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204 Rosewood Lane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [172]:
similarity_score = cosine_similarity(pt_content)

In [173]:
def recommend(book_name):
    index=np.where(pt_content.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])),key=lambda x:x[1],reverse=True)[1:10]
    data=[]
    for i in similar_items:
        item=[]
        temp_df=books[books['Book-Title']==pt_content.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    return data

In [175]:
recommend('The Da Vinci Code')

[['Angels &amp; Demons',
  'Dan Brown',
  'http://images.amazon.com/images/P/0671027360.01.MZZZZZZZ.jpg'],
 ['Middlesex: A Novel',
  'Jeffrey Eugenides',
  'http://images.amazon.com/images/P/0312422156.01.MZZZZZZZ.jpg'],
 ['The Lovely Bones: A Novel',
  'Alice Sebold',
  'http://images.amazon.com/images/P/0316666343.01.MZZZZZZZ.jpg'],
 ['Digital Fortress : A Thriller',
  'Dan Brown',
  'http://images.amazon.com/images/P/0312995423.01.MZZZZZZZ.jpg'],
 ['Touching Evil',
  'Kay Hooper',
  'http://images.amazon.com/images/P/0553583441.01.MZZZZZZZ.jpg'],
 ['The Secret Life of Bees',
  'Sue Monk Kidd',
  'http://images.amazon.com/images/P/0142001740.01.MZZZZZZZ.jpg'],
 ['The Blue Nowhere : A Novel',
  'Jeffery Deaver',
  'http://images.amazon.com/images/P/0671042262.01.MZZZZZZZ.jpg'],
 ["The Sweet Potato Queens' Book of Love",
  'JILL CONNER BROWNE',
  'http://images.amazon.com/images/P/0609804138.01.MZZZZZZZ.jpg'],
 ['Bleachers',
  'John Grisham',
  'http://images.amazon.com/images/P/0385511612.01.MZZZZZZZ.jpg']]

In [177]:
import pickle
pickle.dump(pt_content,open('pt_content.pkl','wb'))
pickle.dump(similarity_score,open('similarity_score.pkl','wb'))

pickle.dump(books,open('books.pkl','wb'))

pickle.dump(final,open('final.pkl','wb'))